<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Github</title>
    <meta name="description" content=""/>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="searchApp" class="search">
    <div ng-controller="searchCtrl">
        
            <div class="row justify-content-center top-margin">
                <div class="col-md-7">
                    <h1 class="head">Github Search</h1>
                    
                        <form>
                                <input type="text" ng-model="user" class="form-control search-main" placeholder="Search"> 
                                <button type="submit" class="btn" ng-click="searchNav()">Search</button>
                        </form>
                   
                    
                </div>
            </div>
       
    </div>
    



<script data-require="angular.js@1.4.7" data-semver="1.4.7" src="https://code.angularjs.org/1.4.7/angular.js"></script>
<script src="app.js"></script>
        
</body>
</html>