.search{
    background: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 99;
}


.head{
    color: #fff;
    text-align: center;
}

.search-input{
    margin-bottom: 0;
}

.top-margin{
    margin-top: 20%;
}

.show{
    display: grid;
}


.login{
    color: #808B96;
}

.repo-list, .fer-list{
    list-style: none;
    background: #F2F4F4;
}

.repo-name{
    font-size: 19px;
    font-weight: 600;
}
.repo-desc{
    color: #5D6D7E;
}

.repo-sub{
    list-style: none;
    display: inline-flex;
}
.repo-sub > li{
    padding-left: 10px;
    font-size: 13px;
}

.results{
    color: #AEB6BF;
}

.form-inline{
    margin-bottom: 0;
    width: 50%;
    float: left;
}
.search-field{
    width: 50% !important;
    border-radius: 0;
    border: 1px solid #007bff;
}

.search-button{
    float: left;
    border-radius: 0;
}

.search-page{
    background: #f8f9fa;
}

nav{
    background: #fff;
}

.search-main{
    float: left;
    width: 90%;
}

.login-link{
    padding: 8px;
    transition: 1s;
}
.login-link:hover{
    cursor: pointer;
    background: #D6DBDF;
    padding: 8px;
}